.about{
    // height: 100vh;
    width: 100vw;
    padding: 6rem 1.5rem;
    text-align: center;
    &__img{
        width: 100%;
        height: 222px;
        background: url('../img/mobile/image-interactive.jpg') no-repeat;
        background-size: cover;
    }
    &__header{
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-size: 2rem;
        padding: 3rem 0 1.2rem;
    }
    &__content{
        font-family: 'Alata', sans-serif;
        font-size: 0.935rem;
        line-height: 1.6rem;
        margin: 0 1rem;
        color: $secondary-color;
    }
}