.home{
    height: 651px;
    width: 100vw;
    background: url('../img/mobile/image-hero.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 1.5rem;
    padding-bottom: 0;
    h1{
        text-transform: uppercase;
        color: $white;
        font-size: 2.36rem;
        font-weight: 100;
        border: 2px solid $white;
        padding: 1.33rem;
        letter-spacing: 0.08rem;
    }
}
@include media-md{
    .home{
        padding: 14rem 39rem 9rem 10.25rem;
        justify-content: flex-start;
        h1{
            padding: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-left: 2.5rem;
            padding-top: 0.5rem;
            width: 100%;
            height: 100%;
            font-size: 4.4rem;
        }
    }
}