.products{
    text-align: center;
    &__header{
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 100;
        font-size: 2rem;
    }
    &__container{

    }
    &__item{

    }
    
}